<mat-card class="note-add-card">
  <mat-card-header>
    <mat-card-title>ADD NOTE</mat-card-title>
  </mat-card-header>
  <form [formGroup]="addNoteForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field class="note-add-form-field">
          <!-- <mat-label>Email</mat-label> -->
          <input matInput formControlName="title" id="title" ngDefaultControl placeholder="Title" #input>
        </mat-form-field>
        <mat-form-field class="note-add-form-field">
          <mat-label>Content</mat-label>
          <textarea matInput id="content" ngDefaultControl formControlName="content"></textarea>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="start center" class="note-add-form-field" fxLayoutGap="20px">
          <label>Priority: </label>
          <mat-radio-group [formControl]="priorityControl" fxLayoutGap="20px">
            <mat-radio-button [value]="critical">Critical</mat-radio-button>
            <mat-radio-button [value]="high">High</mat-radio-button>
            <mat-radio-button [value]="normal">Normal</mat-radio-button>
            <mat-radio-button [value]="low">Low</mat-radio-button>
            <mat-radio-button [value]="none">None</mat-radio-button>
          </mat-radio-group>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxFill>
          <button mat-raised-button color="accent" type="submit">DONE</button>
        </div>
      </div>
    </mat-card-content>
  </form>


  <!-- <mat-card-actions>
        <div fxFlex></div>
      <button mat-raised-button color="accent" (click)="submit()">DONE</button>
    </mat-card-actions> -->
</mat-card>