/* mat-grid-tile {
    background: lightblue;
} */

.toggle-group {
    padding: 10px;
    padding-right: 20px;
}


.myGridList {
    height: 500px;
}


.grid-container {
    display: grid;
    grid-gap: 16px 16px;
    grid-template-columns: auto auto auto;
    padding: 5px;
}

.grid-item {
    text-align: left;
}