$form-field-width: 400px;

.login-card {
    max-width: 400px;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.form-field {
    width: $form-field-width;
}

.vertical-space {
    height: 30px;
}
