/* .example-card {
    max-width: 300px;
    min-width: 300px;
    
    
    cursor: pointer;
  } */
  
  /* .example-header-image {
    background-image: url('http://localhost:8000/api/notes/file/10');
    background-size: cover;
  } */

.note-card {
    background-color: #ffffff;
}