$search-bar-width: 600px;

.notes-search {
    min-width: 200px;
    max-width: 400px;
    width: $search-bar-width;
}

.search-bar {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 0px solid #800000;
    height: 40px;
    width: $search-bar-width;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
}